<div id="admin-table">
    <table>
        <thead>
            <tr>
                {{#each @headings as |heading|}}
                <th>{{heading}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each @data as |item|}}
            <tr>
                {{#each @fields as |field|}}
                <td>
                  {{#if (eq field "book_id")}}
                    {{this.getBookNameById (get item field)}}
                  {{else if (eq field "student_id")}}
                    {{this.getStudentNameById (get item field)}}
                  {{else}}
                  {{get item field}}
                  {{/if}}
                </td>

                {{/each}}

                {{#if @onDelete}}
                <td>
                    <button type="button" {{on "click" (fn this.deleteStudent item)}}>Delete</button>
                </td>
                {{/if}}
            </tr>
            {{else}}
              <p class="msg">No Records Available</p>
            {{/each}}
        </tbody>
    </table>
</div>