<div id="books">
    {{#each this.books.filteredBooks as |book|}}
    {{!-- template-lint-disable no-invalid-interactive --}}
    <div class="book" {{on "click" (fn this.showBookDetails book)}}>
        <img src={{book.image}} alt="book_image">
        <div class="detail">
            <p class="title">{{book.title}}</p>
            <p class="subtitle">{{book.subtitle}}</p>
            {{!-- <p>{{book.id}}</p> --}}
            {{#if (eq this.books.btnValue "Return")}}
            <p class="msg">{{this.getReturnDays book}}</p>
            {{/if}}
            {{#if (or (gt book.stock 0) (eq this.books.btnValue "Return") (eq @isAdmin "true"))}}
            {{yield book this.bookActions this.books.btnValue this.stopPropagation book.id}}
            {{else}}
            <p class="msg">Out of Stock</p>
            {{/if}}
        </div>
    </div>
    {{/each}}


    {{#if this.selectedBook}}
    <div class="popup" {{on "click" this.closeDetails}}>
        <div class="book-popup" {{on "click" this.stopPropagation}}>
            <span class="close" {{on "click" this.closeDetails}}>&times;</span>
            <img src={{this.selectedBook.image}} alt="BookImage" />
            <div class="book-details">
                <h2>{{this.selectedBook.title}}</h2>
                <p><strong>Subtitle:</strong> {{this.selectedBook.subtitle}}</p>
                <p><strong>Author:</strong> {{this.selectedBook.author}}</p>
                <p><strong>Publisher:</strong> {{this.selectedBook.publisher}}</p>
                <p><strong>Published Year:</strong> {{this.selectedBook.publishedYear}}</p>
                <p><strong>Genre:</strong> {{this.selectedBook.genre}}</p>
                <p><strong>Language:</strong> {{this.selectedBook.language}}</p>
                <p><strong>Pages:</strong> {{this.selectedBook.pages}}</p>
                <p><strong>Stock:</strong> {{this.selectedBook.stock}}</p>
                <p><strong>Description:</strong></p>
                <p class="description">{{this.selectedBook.description}}</p>
            </div>
        </div>
    </div>
    {{/if}}
</div>