<div>
    <select id="" {{on "change" this.borrowedBooks}}>
        <option value="All" selected={{@currentBooks}}>All</option>
        <option value="Borrowed" selected={{@currentBooks}}>Borrowed</option>
    </select>

    Sort By :
    <select id="sort" {{on "change" this.sortBooks}}>
      <option value="None" selected={{@sort}}>None</option>
      <option value="Name" selected={{@sort}}>Name</option>
    </select>
</div>