<div>
    <select id="" {{on "change" this.borrowedBooks}} value={{this.getBookOption}}>
        <option value="All">All</option>
        <option value="Borrowed">Borrowed</option>
    </select>

    Sort By :
    {{@sort}}
    <select id="sort" value={{or @sort this.sort}} {{on "change" this.sortBooks}}>
  <option value="None">None</option>
  <option value="Name">Name</option>
</select>
</div>