<div id="books">
  {{#each @model.filteredBooks as |book|}}
      <Book @book={{book}} as |returnDays returnBook _ _ _ _ stopPropagation getBorrowedBookHistory|>
        {{#let (getBorrowedBookHistory book.id) as |b|}}
          <p class="msg">{{returnDays b}}</p>
          <button type="button" id="borrow-btn" {{on 'click' (fn returnBook b.id book.id)}} {{on 'click' stopPropagation}}>Return</button>
        {{/let}}
      </Book>
    {{else}}
    <p>No Records Available</p>
  {{/each}}
</div>